#drawings{
  height: 250px;
  overflow: auto;
  overflow-y: scroll;


}
#tableheader{

}
#revision{
  height: 250px;
  overflow: auto;
  margin-top: 20px;

}
:target {
   background: Grey;
}
.revisionTitle{
  margin-top: 100px;
}
#rfi{
  height: 350px;
  overflow: auto;
  margin-top: 20px;

}
.maindesign{
  margin-top: 10px;

}
.designtable{
  background-color: #4169E1;
  color: white;
}
.revtable{
  background-color: #B22222;
  color: white;
}
.rfitable{
  background-color: #FA8072;
  color: white;
}
.rfilink{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;

}

.titles {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #808080;
}
