#drawings{
  height: 500px;
  overflow: scroll;
  overflow-y: scroll;


}

.table{
  height: 500px;
  overflow: scroll;
  overflow-y: scroll;

}
.revtable{
  height: 250px;
  overflow: auto;
  overflow-y: auto;

}
#tableheader{

}
#revision{
  height: 250px;
  overflow: auto;
  margin-top: 20px;

}
:target {
   background: Grey;
}
.revisionTitle{
  margin-top: 100px;
}
#rfi{
  height: 350px;
  overflow: auto;
  margin-top: 20px;

}
.maindesign{
  margin-top: 10px;

}
.designtable{
  background-color: #002156;
  color: white;
  height: 40px;
  
}
.revtableheader{
  background-color: #002156;
  color: white;
  height: 40px;

}
.rfitable{
  background-color: #002156;
  color: white;
  height: 40px;

}
.rfilink{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;

}

.titles {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #808080;
}
